workflow.json
{
  "name": "Attendance & Warning System",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "attendance-upload",
        "responseMode": "responseNode",
        "options": {
          "rawBody": true
        }
      },
      "id": "node-webhook",
      "name": "Webhook: Excel Upload",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [200, 300],
      "webhookId": "attendance-upload"
    },
    {
      "parameters": {
        "operation": "toJson",
        "options": {}
      },
      "id": "node-read-excel",
      "name": "Read Excel File",
      "type": "n8n-nodes-base.spreadsheetFile",
      "typeVersion": 2,
      "position": [420, 300]
    },
    {
      "parameters": {
        "command": "echo '{{ JSON.stringify($input.all().map(i => i.json)) }}' | python logic.py",
        "options": {}
      },
      "id": "node-consolidate",
      "name": "Execute: Consolidate Punches (Python)",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [640, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "-- Check for duplicate upload\nSELECT id FROM upload_log WHERE file_hash = '{{ $json.file_hash }}' LIMIT 1;\n\n-- If no duplicate, insert upload log\nINSERT INTO upload_log (file_name, file_hash, row_count, status)\nSELECT 'webhook_upload', '{{ $json.file_hash }}', {{ $json.raw_punch_count }}, 'processing'\nWHERE NOT EXISTS (SELECT 1 FROM upload_log WHERE file_hash = '{{ $json.file_hash }}');\n\n-- Upsert daily record (idempotent)\nINSERT INTO daily_records (employee_id, name, date, check_in, check_out, late_flag, missing_punch, raw_punch_count)\nVALUES (\n  '{{ $json.employee_id }}',\n  '{{ $json.name }}',\n  '{{ $json.date }}',\n  {{ $json.check_in ? \"'\" + $json.check_in + \"'\" : 'NULL' }},\n  {{ $json.check_out ? \"'\" + $json.check_out + \"'\" : 'NULL' }},\n  {{ $json.late_flag }},\n  {{ $json.missing_punch }},\n  {{ $json.raw_punch_count }}\n)\nON CONFLICT (employee_id, date) DO UPDATE SET\n  check_in = EXCLUDED.check_in,\n  check_out = EXCLUDED.check_out,\n  late_flag = EXCLUDED.late_flag,\n  missing_punch = EXCLUDED.missing_punch,\n  raw_punch_count = EXCLUDED.raw_punch_count;\n\n-- Upsert monthly summary\nINSERT INTO monthly_summary (employee_id, name, month_year, late_count, last_late_date)\nVALUES (\n  '{{ $json.employee_id }}',\n  '{{ $json.name }}',\n  '{{ $json.month_year }}',\n  CASE WHEN {{ $json.late_flag }} THEN 1 ELSE 0 END,\n  CASE WHEN {{ $json.late_flag }} THEN '{{ $json.date }}' ELSE NULL END\n)\nON CONFLICT (employee_id, month_year) DO UPDATE SET\n  late_count = CASE WHEN {{ $json.late_flag }} THEN monthly_summary.late_count + 1 ELSE monthly_summary.late_count END,\n  last_late_date = CASE WHEN {{ $json.late_flag }} THEN '{{ $json.date }}' ELSE monthly_summary.last_late_date END;"
      },
      "id": "node-db-upsert",
      "name": "PostgreSQL: Upsert Records",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [860, 300],
      "credentials": {
        "postgres": {
          "id": "YOUR_POSTGRES_CREDENTIAL_ID",
          "name": "PostgreSQL Production"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.late_flag }}",
              "value2": true
            }
          ]
        }
      },
      "id": "node-if-late",
      "name": "IF: Is Late?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1080, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT late_count, warning_level FROM monthly_summary WHERE employee_id = '{{ $json.employee_id }}' AND month_year = '{{ $json.month_year }}'"
      },
      "id": "node-get-strike",
      "name": "PostgreSQL: Get Strike Count",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [1300, 200],
      "credentials": {
        "postgres": {
          "id": "YOUR_POSTGRES_CREDENTIAL_ID",
          "name": "PostgreSQL Production"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $json.late_count }}",
              "operation": "largerEqual",
              "value2": 1
            },
            {
              "value1": "={{ $json.late_count }}",
              "operation": "smallerEqual",
              "value2": 3
            }
          ]
        },
        "combineOperation": "all"
      },
      "id": "node-strike-router",
      "name": "Switch: Strike Level",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [1520, 200]
    },
    {
      "parameters": {
        "model": "gpt-4o",
        "messages": {
          "values": [
            {
              "role": "system",
              "content": "You are an AI assistant embedded in an enterprise HR automation system. You write attendance warning emails on behalf of the HR department at Growify.\n\nRULES:\n1. Output ONLY a JSON object with two keys: \"subject\" and \"body\".\n2. \"subject\" must be a concise email subject line (max 100 chars).\n3. \"body\" must be the email body in plain text, ready to send.\n4. Address the EMPLOYEE directly.\n5. Sign off as \"HR Team, Growify\".\n6. Never fabricate facts.\n\nOUTPUT FORMAT (strict JSON):\n{\"subject\": \"...\", \"body\": \"...\"}"
            },
            {
              "role": "user",
              "content": "={{ (() => {\n  const lateCount = $json.late_count;\n  const name = $json.name;\n  const date = $json.date;\n  const checkIn = $json.check_in;\n  const meetingLink = $json.meeting_link || 'TBD';\n  \n  if (lateCount === 1) {\n    return `CONTEXT: Employee ${name} arrived late on ${date} at ${checkIn}. Strike 1 this month. TONE: Friendly, supportive. TASK: Write a gentle reminder about 11:00 AM policy.`;\n  } else if (lateCount === 2) {\n    return `CONTEXT: Employee ${name} has reached strike 2 this month (latest: ${date} at ${checkIn}). TONE: Professional, firm. TASK: Write a formal warning. Mention 3rd strike = mandatory meeting.`;\n  } else {\n    return `CONTEXT: Employee ${name} has reached STRIKE 3 this month (${date}). Meeting scheduled today 5 PM. Link: ${meetingLink}. TONE: Urgent, authoritative. TASK: Write final warning with meeting details.`;\n  }\n})() }}"
            }
          ]
        },
        "options": {
          "temperature": 0.4,
          "maxTokens": 500
        }
      },
      "id": "node-ai-email",
      "name": "OpenAI: Generate Warning Email",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1.8,
      "position": [1740, 200],
      "credentials": {
        "openAiApi": {
          "id": "YOUR_OPENAI_CREDENTIAL_ID",
          "name": "OpenAI API"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $json.late_count }}",
              "operation": "equal",
              "value2": 3
            }
          ]
        }
      },
      "id": "node-if-strike3",
      "name": "IF: Strike 3?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1960, 100]
    },
    {
      "parameters": {
        "calendar": "primary",
        "start": "={{ new Date().toISOString().split('T')[0] + 'T17:00:00+05:30' }}",
        "end": "={{ new Date().toISOString().split('T')[0] + 'T17:30:00+05:30' }}",
        "additionalFields": {
          "summary": "HR Meeting: Attendance Review — {{ $json.name }}",
          "description": "Mandatory attendance review meeting for {{ $json.name }} ({{ $json.employee_id }}). This is a 3rd strike escalation."
        }
      },
      "id": "node-calendar",
      "name": "Google Calendar: Schedule Meeting",
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 5,
      "position": [2180, 0],
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "YOUR_GCAL_CREDENTIAL_ID",
          "name": "Google Calendar"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $json.employee_email || 'hr@growify.com' }}",
        "subject": "={{ JSON.parse($json.ai_response).subject }}",
        "emailType": "text",
        "message": "={{ JSON.parse($json.ai_response).body }}"
      },
      "id": "node-gmail",
      "name": "Gmail: Send Warning",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [2180, 200],
      "credentials": {
        "gmailOAuth2": {
          "id": "YOUR_GMAIL_CREDENTIAL_ID",
          "name": "Gmail"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO warning_log (employee_id, name, month_year, strike_level, email_subject, email_body, delivery_status)\nVALUES (\n  '{{ $json.employee_id }}',\n  '{{ $json.name }}',\n  '{{ $json.month_year }}',\n  {{ $json.late_count }},\n  '{{ JSON.parse($json.ai_response).subject }}',\n  '{{ JSON.parse($json.ai_response).body }}',\n  'sent'\n);\n\nUPDATE monthly_summary SET\n  warning_level = {{ $json.late_count }},\n  last_warning_date = '{{ $json.date }}'\nWHERE employee_id = '{{ $json.employee_id }}' AND month_year = '{{ $json.month_year }}';"
      },
      "id": "node-log-warning",
      "name": "PostgreSQL: Log Warning",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [2400, 200],
      "credentials": {
        "postgres": {
          "id": "YOUR_POSTGRES_CREDENTIAL_ID",
          "name": "PostgreSQL Production"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: true, processed: $input.all().length, message: 'Attendance records processed successfully.' }) }}"
      },
      "id": "node-respond",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [2620, 300]
    }
  ],
  "connections": {
    "Webhook: Excel Upload": {
      "main": [[{ "node": "Read Excel File", "type": "main", "index": 0 }]]
    },
    "Read Excel File": {
      "main": [[{ "node": "Execute: Consolidate Punches (Python)", "type": "main", "index": 0 }]]
    },
    "Execute: Consolidate Punches (Python)": {
      "main": [[{ "node": "PostgreSQL: Upsert Records", "type": "main", "index": 0 }]]
    },
    "PostgreSQL: Upsert Records": {
      "main": [[{ "node": "IF: Is Late?", "type": "main", "index": 0 }]]
    },
    "IF: Is Late?": {
      "main": [
        [{ "node": "PostgreSQL: Get Strike Count", "type": "main", "index": 0 }],
        [{ "node": "Respond to Webhook", "type": "main", "index": 0 }]
      ]
    },
    "PostgreSQL: Get Strike Count": {
      "main": [[{ "node": "Switch: Strike Level", "type": "main", "index": 0 }]]
    },
    "Switch: Strike Level": {
      "main": [[{ "node": "OpenAI: Generate Warning Email", "type": "main", "index": 0 }]]
    },
    "OpenAI: Generate Warning Email": {
      "main": [[{ "node": "IF: Strike 3?", "type": "main", "index": 0 }]]
    },
    "IF: Strike 3?": {
      "main": [
        [{ "node": "Google Calendar: Schedule Meeting", "type": "main", "index": 0 }],
        [{ "node": "Gmail: Send Warning", "type": "main", "index": 0 }]
      ]
    },
    "Google Calendar: Schedule Meeting": {
      "main": [[{ "node": "Gmail: Send Warning", "type": "main", "index": 0 }]]
    },
    "Gmail: Send Warning": {
      "main": [[{ "node": "PostgreSQL: Log Warning", "type": "main", "index": 0 }]]
    },
    "PostgreSQL: Log Warning": {
      "main": [[{ "node": "Respond to Webhook", "type": "main", "index": 0 }]]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": ""
  },
  "staticData": null,
  "tags": [
    { "name": "HR", "id": "tag-hr" },
    { "name": "Attendance", "id": "tag-attendance" },
    { "name": "Production", "id": "tag-production" }
  ],
  "triggerCount": 1,
  "versionId": "1.0.0"
}
